@media screen and (max-width: 767px) {
  .react-player {
    width: 100vw;
    height: 50vh;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .react-player {
    width: 100vw;
    height: 70vh;
    padding-bottom: 10px;
  }
}
