.gaming-logo {
  color: red;
  border-radius: 240px;
  padding: 20px;
  background-color: #e2e8f0;
  margin-right: 30px;
}
.gaming-heading {
  background-color: #f1f1f1;
  padding: 30px;
  width: 78vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
li {
  list-style: none;
}
.link {
  text-decoration: none;
  font-weight: 500;
  margin: 15px;
  color: #909090;
}
.list-container {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
}
.game-image {
  height: 400px;
  width: 320px;
}
